h1{
    margin-bottom: 0px;
    margin-top: 50px;
}
h6{
    margin-top: 0px;
    display:inline;
}

body{
    width: 70%;
    height:70%;
    margin:5% auto 5% auto;
}
ul
{
    font-family: sans-serif;
    height:100%;
}

ul li
{
}
#header {
    font-size: 25px;
    margin-top: 50px;
    display: inline;
}

.social{
   display: inline;
}

#logo-head {
}
#main-img{
    border-top:0px;
    height:100%;
    width:100%;
}

#article{
    font-size:20px;
    line-height:25px;
    height:750px;
}
#author{
    float: left;
    margin-right:10px;
    padding-right:10px;
}
.align-right{
    float:right;
    margin-left:10px;
}
#recipe {
    position: relative;
    text-align:left;
    column-count:2;
}



.overlay{

    position: relative;
    bottom: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0);
    color: black;
    width: 90%;
    height:40%;
    padding: 20px;
    transform: translate(5%, -127%);
    font-size:20px;
    font-family:sans-serif;
}
#article{
    text-indent: 20px;
}




