h1
{
    
}

.container
{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:800px;
}
.logo
{
    display: inline;
}

.social
{
   display: inline;
}


table
{
    background-image: url("img/list-bg.png");
}

.recipe
{
    position: relative;
    text-align: center;        
}

.centered
{
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translateY(50px) ;
}

.author-notes
{
    display: inline;
    margin-left:auto;
    margin-right:auto;
}